<table ADSelectableTable="table1" (rowSelected)="rowSelected($event)" (columnSelected)="columnSelected($event)"
  (tableReady)="tableReady($event)" class="table">
  <thead>
    <tr ADSelectableHeader>
      <th></th>
      <th ADSelectableColumnCell *ngFor="let col of columns" scope="col">{{col}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows" #rowElement="ADSelectableRow" ADSelectableRow>
      <th scope="row" ADSelectableRowCell>{{row}}</th>
      <td *ngFor="let col of columns;let i=index" [ADSelectableCell]="{c:i,r:rowElement}">C:{{col}}R:{{row}}</td>
    </tr>

  </tbody>
</table>
<button (click)="clear()">Clear</button>
<input [(ngModel)]="inputValue" type="number">
<button (click)="selectRow(inputValue)">selectRow</button>
